h1 {
  margin-top: 4%;
  text-align: center;
}

.mat-elevation-z8
{
  margin: 2%;
}

/* Structure */
.e-container {
  position: relative;
}

.e-table-container {
  position: relative;
  overflow: auto;
}

table {
  width: 100%;
}

.e-loading-shade {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 56px;
  right: 0;
  background: rgba(0, 0, 0, 0.15);
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.e-rate-limit-reached {
  max-width: 360px;
  text-align: center;
}

/* Column Widths */
.mat-column-number,
.mat-column-state {
  max-width: 64px;
}

.mat-column-created {
  max-width: 124px;
}

.mat-column-FirstName {
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 12% !important;
  width: 12% !important;
  overflow-wrap: break-word;
  word-wrap: break-word;

  word-break: break-word;

  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

.mat-column-LastName {
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 10% !important;
  width: 10% !important;
  overflow-wrap: break-word;
  word-wrap: break-word;

  word-break: break-word;

  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

.mat-column-Email {
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 20% !important;
  width: 20% !important;
  overflow-wrap: break-word;
  word-wrap: break-word;

  word-break: break-word;

  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

.mat-column-PhoneNumber {
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 15% !important;
  width: 15% !important;
  overflow-wrap: break-word;
  word-wrap: break-word;

  word-break: break-word;

  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

.mat-column-Role {
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 13% !important;
  width: 13% !important;
  overflow-wrap: break-word;
  word-wrap: break-word;

  word-break: break-word;

  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

.mat-column-Active {
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 10% !important;
  width: 10% !important;
  overflow-wrap: break-word;
  word-wrap: break-word;

  word-break: break-word;

  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

.mat-column-Options {
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 20% !important;
  width: 20% !important;
  overflow-wrap: break-word;
  word-wrap: break-word;

  word-break: break-word;

  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

.e-form-field {
  width: 200px;
  margin: 2%;
}

.mat-form-field-label {
  color: black !important;
}

#buttonx {
  background-color: rgba(245, 245, 245, 0.15);
  border: none;
  border-color: white;
}

#addEmployee {
  margin-left: 2% !important;
  margin-top: 3% !important;
  margin-bottom: 5% !important;
  background-color: #3f525c;
  border-radius: 4px;
  padding: 0.5rem;
  font-size: 1rem;
  text-decoration: none;
  display: inline-block;
  color: #fff;
  text-align: center;
  width: 200px;
  min-width: 70px;
  min-height: 36px;
  box-sizing: border-box;
  text-align: center;
  justify-content: center;

  /* flexbox */
  order: 0;
  flex: 0 1 auto;
  align-self: auto;
}


#editEmployee {
  background-color:rgba(208, 241, 20, 0.863);
  color: white !important;
  margin: 2%;
}

#deleteEmployee1 {
  background-color: rgba(214, 11, 11, 0.877);
  color: white !important;
  margin: 2%;
}

#deleteEmployee2 {
  background-color: rgba(6, 250, 6, 0.966);
  color: white !important;
  margin: 2%;
}
