h1 {
  margin-top: 4%;
  text-align: center;
}

.mat-elevation-z8
{
  margin: 2%;
}

/* Structure */
.e-container {
  position: relative;
}

.e-table-container {
  position: relative;
  overflow: auto;
}

table {
  width: 100%;
}

.e-loading-shade {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 56px;
  right: 0;
  background: rgba(0, 0, 0, 0.15);
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.e-rate-limit-reached {
  max-width: 360px;
  text-align: center;
}

/* Column Widths */
.mat-column-number,
.mat-column-state {
  max-width: 64px;
}

.mat-column-created {
  max-width: 124px;
}

.mat-column-Avatar {
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 10% !important;
  width: 10% !important;
  overflow-wrap: break-word;
  word-wrap: break-word;

  word-break: break-word;

  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

.mat-column-Caption {
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 27% !important;
  width: 27% !important;
  overflow-wrap: break-word;
  word-wrap: break-word;

  word-break: break-word;

  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

.mat-column-Release {
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 18% !important;
  width: 18% !important;
  overflow-wrap: break-word;
  word-wrap: break-word;

  word-break: break-word;

  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

.mat-column-Length {
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 18% !important;
  width: 18% !important;
  overflow-wrap: break-word;
  word-wrap: break-word;

  word-break: break-word;

  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

.mat-column-Insert {
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 27% !important;
  width: 27% !important;
  overflow-wrap: break-word;
  word-wrap: break-word;

  word-break: break-word;

  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

.e-form-field {
  width: 200px;
  margin: 2%;
}

.mat-form-field-label {
  color: black !important;
}

#buttonx {
  background-color: rgba(245, 245, 245, 0.15);
  border: none;
  border-color: white;
}

#addMovie {
  margin-left: 2% !important;
  margin-top: 3% !important;
  margin-bottom: 5% !important;
  background-color: #3f525c;
  border-radius: 4px;
  padding: 0.5rem;
  font-size: 1rem;
  text-decoration: none;
  display: inline-block;
  color: #fff;
  text-align: center;
  width: 200px;
  min-width: 70px;
  min-height: 36px;
  box-sizing: border-box;
  text-align: center;
  justify-content: center;

  /* flexbox */
  order: 0;
  flex: 0 1 auto;
  align-self: auto;
}


#editMovie {
  background-color:rgba(208, 241, 20, 0.863);
  color: white !important;
  margin-left: 5%;
}

#deleteMovie {
  background-color: rgba(214, 11, 11, 0.877);
  color: white !important;
  margin-left: 2%;
}

.small-preview {
  width: 25px;
  height: 33px;
}

tr.example-detail-row {
  height: 0;
}

tr.example-element-row:not(.example-expanded-row):hover {
  background: whitesmoke;
}

tr.example-element-row:not(.example-expanded-row):active {
  background: #efefef;
}

.example-element-row td {
  border-bottom-width: 0;
}

.example-element-detail {
  overflow: hidden;
  display: flex;
}

.example-element-description {
  width: 90%;
  padding: 16px;
}

.example-element-description-attribution {
  opacity: 0.5;
}

.image-container {
  padding-right: 6%;
}
