<h1 mat-dialog-title>Add a new movie</h1>
<div mat-dialog-content>
  <form [formGroup]="addForm" (ngSubmit)="addMovie()">

    <mat-form-field appearance="fill">
      <mat-label>Caption</mat-label>
      <input matInput formControlName="caption">
      <mat-error *ngIf="addForm.controls['caption'].invalid">{{getCaptionErrorMessage()}}</mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Release year</mat-label>
      <input matInput formControlName="releaseYear" readonly>
      <input [matDatepicker]="picker" type="hidden">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker startView="multi-year" (yearSelected)="chosenYearHandler($event, picker)" panelClass="example-month-picker"></mat-datepicker>
      <mat-error *ngIf="addForm.controls['releaseYear'].invalid">{{getReleaseErrorMessage()}}</mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Movie Length</mat-label>
      <input matInput formControlName="movieLength">
      <mat-error *ngIf="addForm.controls['movieLength'].invalid">{{getLengthErrorMessage()}}</mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Quantity</mat-label>
      <input matInput formControlName="quantity">
      <mat-error *ngIf="addForm.controls['quantity'].invalid">{{getQuantityErrorMessage()}}</mat-error>
    </mat-form-field>

    <div class="container">
      <div class="input-container">
        <input class="form-control" type="file"
                (change)="onAvatarChange($event)">
      </div>
      <div class="image-container">
        <img *ngIf="this.avatar" src={{this.avatar}}>
        <p>{{uploadAvatarMessage}}</p>
      </div>
    </div>

    <div mat-dialog-actions>
      <button mat-button color="primary" id="addMovie" type="submit" [disabled]="!addForm.valid" [mat-dialog-close]="true">Submit</button>
      <a id="cancel" mat-button [mat-dialog-close] cdkFocusInitial>Cancel</a>
    </div>

  </form>
</div>
